@import "tailwindcss";

@theme {
  --color-azul: #0D2D6B;
  --color-azul2: #16468E;
}

:root {
  --azul: #0D2D6B;
  --azul-2: #16468E;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Segoe UI', system-ui, sans-serif;
  background: #f1f5f9;
}
